# Ignore all data files
Data/*

# But keep the placeholder .gitkeep
!Data/.gitkeep

# Ignore common Python + Jupyter cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
.env
*.ipynb_checkpoints
.DS_Store
